
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="ico/66d9d2d54bebdc4e16942412c97b622c.png">

    <meta charset-"utf-8">
    <meta name="keywords" content="форма, htmi, miem">
    <meta name="description" content="first page">
    <meta name="author" content="Pashentsev Pavel" )>
    <meta property="og:image" content="https://github.com/PavelGem-13g/web-courses-miem/blob/main/59193313.jpeg">
    <meta property="og:title" content="О своем опыте обучении">

    <title>
        Форма
    </title>
</head>

<body>
    <header>
        <h1>
            Форма
        </h1>
    </header>


    <main>
        <form action="/send" method="post">
            <section class="multi_blcok">
                <h3>
                    Форма
                </h3>

                <div class="block">
                    <h5>
                        Основная информация
                    </h5>
                    <input type="text" name="name" placeholder="Имя"><br>
                    <input type="email" name="email" placeholder="Почта"><br>
                </div>

                <div class="block">
                    <h5>
                        День рождения    
                    </h5>
                    <input type="date" name="birthday">
                </div>
                <input type="submit"><br>
        </form>
    </main>

    <footer>
        <p>
            Все права защищены.
        </p>
    </footer>
</body>

</html>