<!DOCTYPE html>
<html>

<body>
    <main>
        <h1>Информация</h1>
        <h5>
            Имя: <%=name%> <br>
            Почта: <%=email%> <br>
            День рождения: <%=birthday%> <br>
        </h5>
    </main>
</body>

</html>