<!DOCTYPE html>
<header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</header>
<html>
<body>
    <main>
        <h1>Информация</h1>
        Имя: <%=name%> <br>
        Почта: <%=email%> <br>
        День рождения: <%=birthday%> <br>
        Фото: <%=photo%>
    </main>
</body>
</html>